@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer global {
  :root {
    background-color: var(--vocs-color_background);
    color: var(--vocs-color_text);
    line-height: var(--vocs-lineHeight-paragraph);
    font-size: var(--vocs-fontSize-root);
    font-weight: var(--vocs-fontWeight-regular);
  }

  @media screen and (width <= 720px) {
    :root {
      background-color: var(--vocs-color_background-dark);
    }
  }

  :root:not(.dark) pre[data-theme='dark'],
  :root:not(.dark) code[data-theme='dark'],
  :root:not(.dark) div[data-theme='dark'] {
    display: none !important;
  }
  

  :root.dark pre[data-theme='light'],
  :root.dark code[data-theme='light'],
  :root.dark div[data-theme='light'] {
    display: none !important;
  }

  .vocs-content > *:not(:last-child) {
    margin-bottom: var(--vocs-space_16);
  }
  
  .vocs-content *:last-child {
    margin-bottom: var(--vocs-space_0);
  }
}