@layer layouts {
  .vocs article {
    max-width: calc(var(--vocs-viewport_book) + (var(--vocs-space_16) * 2));
    margin: auto;
    overflow-x: hidden;
    padding: var(--vocs-space_64) var(--vocs-space_16);
  }

  @media screen and (max-width: 70ch) {
    .vocs article {
      padding: var(--vocs-space_48) var(--vocs-space_16);

      & pre {
        border-radius: 0px;
        margin-left: calc(var(--vocs-space_16) * -1);
        margin-right: calc(var(--vocs-space_16) * -1);

        && [data-line] {
          padding: var(--vocs-space_0) var(--vocs-space_16);
        }

        && [data-line].diff:before {
          left: 6px;
        }
      }

      & .code-group {
        border-radius: 0px;
        margin-left: calc(var(--vocs-space_16) * -1);
        margin-right: calc(var(--vocs-space_16) * -1);

        && [data-line] {
          padding: var(--vocs-space_0) var(--vocs-space_32);
        }
      }

      & [data-rehype-pretty-code-title] {
        border-radius: 0px;
        margin-left: calc(var(--vocs-space_16) * -1);
        margin-right: calc(var(--vocs-space_16) * -1);
        padding-left: var(--vocs-space_16);
        padding-right: var(--vocs-space_16);
      }
    }
  }
}