.vocs_NavLogo_logoImage {
  height: 30% !important;
}

.footer {
  align-items: center;
  color: var(--vocs-color_text3);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.5em;
  width: 100%;
}

.vocs_Button_button.text-xl {
  font-size: var(--vocs-fontSize_32);
  height: var(--vocs-fontSize_64);
}
