.vocs_NavLogo_logoImage {
  height: 30% !important;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  width: 100%;
}