@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  background-color: var(--vocs-c-background);
  color: var(--vocs-c-text);
  font-weight: 300;
}