@layer vocs_theme, theme, vocs_base, base, vocs_components, components, vocs_utilities, utilities;

@import "tailwindcss/theme.css" layer(vocs_theme) prefix(vocs);
@import "tailwindcss/preflight.css" layer(vocs_base);
@import "tailwindcss/utilities.css" layer(vocs_utilities) prefix(vocs);

@custom-variant dark (&:where([style*="color-scheme: dark"], [style*="color-scheme: dark"] *));

@import "./theme.css" layer(vocs_theme);
@import "./markdown.css" layer(vocs_components);
@import "./twoslash.css" layer(vocs_components);

@source "../";

@layer vocs_base {
  :root {
    @apply vocs:bg-primary vocs:max-md:bg-surface vocs:scheme-light-dark vocs:text-primary vocs:tracking-[0.005em];
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply vocs:relative vocs:max-md:overflow-x-hidden;
  }

  *:focus {
    @apply vocs:outline-none;
  }

  *:focus-visible {
    @apply vocs:outline-2 vocs:outline-accent vocs:outline-offset-2;
    outline-style: solid;
  }
}
