@layer reset, vocs_base, vocs_components;

@import "zyzz/reset.css";

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../server/fonts/geist.woff2") format("woff2");
}

@keyframes vocs-prompt-shimmer {
  to {
    transform: translateX(120%);
  }
}

@keyframes vocs-skeleton-shimmer {
  from {
    background-position: 180% 0;
  }
  to {
    background-position: -80% 0;
  }
}

@keyframes vocs-openapi-target-flash {
  0%,
  30% {
    background-color: var(--vocs-openapi-flash-bg);
    box-shadow: 0 0 0 8px var(--vocs-openapi-flash-bg);
  }
  100% {
    background-color: transparent;
    box-shadow: 0 0 0 8px transparent;
  }
}
@keyframes vocs-openapi-line-flash {
  0%,
  30% {
    background-color: var(--vocs-openapi-flash-bg);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
