@theme {
  --color-*: initial;

  /* #region Primitive Colors */

  --color-white: white;
  --color-black: black;
  --color-gray1: oklch(0.162 0 0);
  --color-gray2: oklch(0.195 0 0);
  --color-gray3: oklch(0.21 0 0);
  --color-gray4: oklch(0.223 0 0);
  --color-gray5: oklch(0.25 0 0);
  --color-gray6: oklch(0.29 0 0);
  --color-gray7: oklch(0.5 0 0);
  --color-gray8: oklch(0.549 0 0);
  --color-gray9: oklch(0.649 0 0);
  --color-gray10: oklch(0.72 0 0);
  --color-gray11: oklch(0.863 0 0);
  --color-gray12: oklch(0.933 0 0);
  --color-gray13: oklch(0.955 0 0);
  --color-gray14: oklch(0.985 0 0);
  --color-red: light-dark(oklch(0.65 0.25 23), oklch(0.75 0.23 23));
  --color-blue: light-dark(oklch(0.68 0.25 251.8), oklch(0.8 0.23 251.8));
  --color-green: light-dark(oklch(0.6 0.23 170.7), oklch(0.8 0.195 170.7));
  --color-iris: light-dark(oklch(0.54 0.184 278.3), oklch(0.85 0.35 270.3));
  --color-yellow: light-dark(oklch(0.65 0.2 84.1), oklch(0.95 0.2 84.1));

  /* #endregion */

  /* #region Accent Color */

  --color-accent1: oklch(from var(--vocs-color-accent) calc(l - 0.25) c h);
  --color-accent2: oklch(from var(--vocs-color-accent) calc(l - 0.2) c h);
  --color-accent3: oklch(from var(--vocs-color-accent) calc(l - 0.15) c h);
  --color-accent4: oklch(from var(--vocs-color-accent) calc(l - 0.1) c h);
  --color-accent: var(--vocs-color-accent);
  --color-accent5: var(--vocs-color-accent);
  --color-accent6: oklch(from var(--vocs-color-accent) max(l, 0.6) c h);
  --color-accent7: oklch(from var(--vocs-color-accent) max(l, 0.7) c h);
  --color-accent8: oklch(from var(--vocs-color-accent) max(l, 0.8) c h);
  --color-accent9: oklch(from var(--vocs-color-accent) max(l, 0.9) c h);

  --color-accenta1: oklch(from var(--vocs-color-accent) 0.7 c h / 3%);
  --color-accenta2: oklch(from var(--vocs-color-accent) 0.68 c h / 8%);
  --color-accenta3: oklch(from var(--vocs-color-accent) 0.64 c h / 16%);
  --color-accenta4: oklch(from var(--vocs-color-accent) 0.6 c h / 27%);
  --color-accenta5: oklch(from var(--vocs-color-accent) 0.56 c h / 40%);
  --color-accenta6: oklch(from var(--vocs-color-accent) 0.52 c h / 55%);
  --color-accenta7: oklch(from var(--vocs-color-accent) 0.48 c h / 70%);
  --color-accenta8: oklch(from var(--vocs-color-accent) 0.44 c h / 84%);
  --color-accenta9: oklch(from var(--vocs-color-accent) 0.4 c h / 94%);

  /* #endregion */

  /* #region Standard Colors */

  --background-color-primary: light-dark(var(--vocs-color-gray14), var(--vocs-color-gray2));
  --background-color-surface: light-dark(white, var(--vocs-color-gray4));
  --background-color-surfaceTint: light-dark(var(--vocs-color-gray14), var(--vocs-color-gray5));

  --text-color-primary: light-dark(var(--vocs-color-gray6), var(--vocs-color-gray12));
  --text-color-secondary: light-dark(var(--vocs-color-gray8), var(--vocs-color-gray10));
  --text-color-muted: light-dark(var(--vocs-color-gray9), var(--vocs-color-gray8));

  /* #endregion */

  /* #region Contextual Colors */

  --color-destructive: var(--vocs-color-red);
  --color-destructive-hover: oklch(from var(--vocs-color-red) calc(l - 0.1) c h);
  --color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 8%);
  --border-color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 16%);

  --color-info: var(--vocs-color-blue);
  --color-info-hover: oklch(from var(--vocs-color-blue) calc(l - 0.1) c h);
  --background-color-info-tint: color-mix(in srgb, var(--vocs-color-blue) 8%, var(--vocs-background-color-surface));
  --border-color-info-tint: oklch(from var(--vocs-color-blue) l c h / 16%);

  --color-note: light-dark(var(--vocs-color-gray7), var(--vocs-color-gray10));
  --color-note-hover: oklch(from var(--vocs-color-gray8) calc(l - 0.1) c h);
  --background-color-note-tint: color-mix(in srgb, var(--vocs-color-gray10) 8%, var(--vocs-background-color-surface));
  --border-color-note-tint: oklch(from var(--vocs-color-gray10) l c h / 16%);

  --color-success: oklch(from var(--vocs-color-green) l c h);
  --color-success-hover: oklch(from var(--vocs-color-green) calc(l - 0.1) c h);
  --background-color-success-tint: color-mix(in srgb, var(--vocs-color-green) 8%, var(--vocs-background-color-surface));
  --border-color-success-tint: oklch(from var(--vocs-color-green) l c h / 16%);

  --color-tip: var(--vocs-color-iris);
  --color-tip-hover: oklch(from var(--vocs-color-iris) calc(l - 0.1) c h);
  --background-color-tip-tint: color-mix(
    in srgb,
    oklch(from var(--vocs-color-iris) l calc(c + 0.2) h) 4%,
    var(--vocs-background-color-surface)
  );
  --border-color-tip-tint: oklch(from var(--vocs-color-iris) l c h / 16%);

  --color-warning: var(--vocs-color-yellow);
  --color-warning-hover: oklch(from var(--vocs-color-yellow) calc(l - 0.1) c h);
  --background-color-warning-tint: color-mix(
    in srgb,
    var(--vocs-color-yellow) 8%,
    var(--vocs-background-color-surface)
  );
  --border-color-warning-tint: oklch(from var(--vocs-color-yellow) l c h / 16%);

  --border-color-primary: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray6));
  --border-color-secondary: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray5));

  /* #endregion */

  /* #region Semantic Colors */

  --background-color-blockquote: var(--vocs-color-background2);
  --background-color-code-block: light-dark(var(--vocs-color-gray14), var(--vocs-color-gray2));
  --background-color-code-highlighted: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray4));
  --background-color-inline-code: light-dark(var(--vocs-color-gray14), var(--vocs-color-gray2));
  --border-color-code-highlighted: light-dark(var(--vocs-color-gray11), var(--vocs-color-gray6));
  --border-color-tab-active: var(--vocs-color-accent);
  --text-color-heading: light-dark(black, white);
  --text-color-link: var(black, white);
  --text-color-link-hover: light-dark(var(--vocs-color-gray7), var(--vocs-color-gray11));
  --text-color-quote: light-dark(var(--vocs-color-gray7), var(--vocs-color-gray11));

  /* #endregion */

  /* #region Font size */

  --text-callout: 0.875rem;
  --text-code-block: 0.875em;
  --text-h1: 2.25rem;
  --text-h2: 1.5rem;
  --text-h3: 1.25rem;
  --text-h4: 1.125rem;
  --text-h5: 1rem;
  --text-h6: 1rem;
  --text-inline-code: 0.875em;
  --text-subtitle: 1.125rem;
  --text-td: 0.875rem;
  --text-th: 0.8125rem;

  /* #endregion */

  /* #region Leading */

  --leading-*: initial;
  --leading-base: 1.5em;
  --leading-code: 1.75em;
  --leading-p: 1.625em;
  --leading-h1: 1em;
  --leading-h2: 1em;
  --leading-h3: 1em;
  --leading-li: 1.625em;
  --leading-table: 1.325em;

  /* #endregion */

  /* #region Spacing */

  --spacing-code-block-px: 1.5rem;
  --spacing-content-px: 3rem;
  --spacing-content-py: 2.5rem;
  --spacing-content: calc(70ch + (var(--vocs-spacing-content-px) * 2));
  --spacing-outline: 280px;
  --spacing-logo: max(calc((100vw - var(--vocs-spacing-content)) / 2), var(--vocs-spacing-sidebar));
  --spacing-gutter: max(calc((100vw - var(--vocs-spacing-content)) / 2), var(--vocs-spacing-sidebar));
  --spacing-sidebar-px: 1.5rem;
  --spacing-sidebar-py: 0rem;
  --spacing-sidebar: 300px;
  --spacing-topNav-px: var(--vocs-spacing-content-px);
  --spacing-topNav: 56px;

  /* #endregion */

  /* #region Breakpoints */

  --breakpoint-lg: 1094px;
  --breakpoint-md: 748px;

  /* #endregion */

  /* #region Animations */

  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* #endregion */
}

/* biome-ignore lint/correctness/noUnknownFunction: _ */
@media (width < theme(--breakpoint-lg)) {
  :root {
    --vocs-spacing-gutter: 0px;
    --vocs-spacing-content-px: 1.5rem;
    --vocs-spacing-content-py: 3rem;
    --vocs-spacing-sidebar-px: 1rem;
    --vocs-spacing-sidebar-py: 1rem;
    --vocs-spacing-topNav: 48px;
  }
}

/* biome-ignore lint/correctness/noUnknownFunction: _ */
@media (width < theme(--breakpoint-md)) {
  :root {
    --vocs-text-h1: 1.75rem;

    --vocs-spacing-code-block-px: 1rem;
    --vocs-spacing-content-px: 1rem;
    --vocs-spacing-content-py: 2rem;
    --vocs-spacing-sidebar-px: 1rem;
  }
}
