.twoslash {
  & [data-v-twoslash-trigger] span {
    @apply vocs:border-transparent vocs:border-b vocs:border-dotted vocs:transition-colors vocs:duration-200;
  }

  &:hover [data-v-twoslash-trigger] span {
    @apply vocs:border-inherit;
  }

  &:hover [data-v-twoslash-trigger] {
    @apply vocs:select-text vocs:cursor-text!;
  }

  & .twoslash-error-line {
    @apply vocs:relative vocs:bg-destructive-tint vocs:border-destructive-tint vocs:text-destructive vocs:leading-code vocs:px-code-block-px vocs:py-0.5 vocs:my-1 vocs:min-w-full vocs:w-max;
  }

  & .twoslash-completion-cursor {
    position: relative;
  }
}

.twoslash-popup-container {
  @apply vocs:bg-surface vocs:border vocs:border-primary vocs:rounded-sm vocs:max-w-140 vocs:select-none;

  @media (width <= 560px) {
    & {
      @apply vocs:max-w-screen vocs:-mx-1;
    }
  }

  & pre {
    @apply vocs:text-[0.75em] vocs:leading-code vocs:max-h-50 vocs:overflow-y-auto;
  }

  & [data-overflows] {
    mask-image: linear-gradient(to bottom, black calc(100% - 2rem), transparent 100%);
  }

  & [data-v-overflow-sentinel] {
    @apply vocs:h-8 vocs:-mt-8 vocs:pointer-events-none;
  }

  & pre code {
    @apply vocs:grid vocs:whitespace-pre-wrap;
  }

  & .line {
    @apply vocs:min-h-[0.5lh];
  }

  & .twoslash-popup-docs {
    @apply vocs:text-[13px];
  }

  & [data-v-content] > * {
    @apply vocs:px-2 vocs:py-1;
  }

  & [data-v-content] > *:not(:last-child) {
    @apply vocs:border-b vocs:border-primary;
  }
}

.twoslash-popup-docs {
  @apply vocs:max-h-40 vocs:overflow-y-scroll;

  & > *:not(:last-child) {
    @apply vocs:mb-1;
  }

  li {
    @apply vocs:mb-0!;
  }

  pre {
    @apply vocs:bg-surfaceTint vocs:-mx-2 vocs:px-2 vocs:py-1;
  }
}

.twoslash-completion-list {
  @apply vocs:min-w-30 vocs:font-mono vocs:text-xs vocs:flex vocs:flex-col vocs:gap-1 vocs:bg-surface vocs:border vocs:border-primary vocs:rounded-sm vocs:p-2 vocs:select-none;

  &:hover {
    @apply vocs:select-auto;
  }

  li {
    @apply vocs:overflow-hidden vocs:flex vocs:items-center vocs:gap-1 vocs:leading-[1em];
  }

  li span.twoslash-completions-matched {
    @apply vocs:text-primary;
  }

  li span.twoslash-completions-unmatched {
    @apply vocs:text-muted;
  }

  .deprecated {
    @apply vocs:text-muted vocs:opacity-50 vocs:line-through;
  }
}

.twoslash-highlighted {
  @apply vocs:bg-code-highlighted/70 vocs:border-code-highlighted vocs:border vocs:py-0.5 vocs:px-1.5 vocs:rounded-sm;
}

.twoslash-tag-line {
  @apply vocs:py-0.5 vocs:my-0.5;
}

.twoslash-tag-log-line {
  @apply vocs:bg-info-tint vocs:border-info! vocs:border-l-2 vocs:text-info;
}

.twoslash-tag-error-line {
  @apply vocs:bg-destructive-tint vocs:border-destructive! vocs:border-l-2 vocs:text-destructive;
}

.twoslash-tag-warn-line {
  @apply vocs:bg-warning-tint vocs:border-warning! vocs:border-l-2 vocs:text-warning;
}

.twoslash-tag-annotate-line {
  @apply vocs:bg-success-tint vocs:border-success! vocs:border-l-2 vocs:text-success;
}
