.root {
  font-size: var(--vocs-fontSize_h2);
  font-weight: var(--vocs-fontWeight-semibold);
  letter-spacing: -0.02em;
  line-height: var(--vocs-lineHeight-heading);
}

.root:not(:last-child) {
  margin-bottom: var(--vocs-space_24);
}

:not(:global(.vocs-header))+.root:not(:only-child) {
  border-top: 1px solid var(--vocs-color_border);
  margin-top: var(--vocs-space_56);
  padding-top: var(--vocs-space_24);
}