.root {
  font-size: var(--vocs-fontSize_h3);
  line-height: var(--vocs-lineHeight-heading);
  font-weight: var(--vocs-fontWeight-semibold);
}

.root:not(:first-child) {
  padding-top: var(--vocs-space_18);
  margin-top: var(--vocs-space_18);
}

.root:not(:last-child) {
  margin-bottom: var(--vocs-space_18);
}

:global(.vocs-h2)+.root {
  padding-top: var(--vocs-space_12);
}