.root {
  font-size: var(--vocs-fontSize_h5);
  font-weight: var(--vocs-fontWeight-semibold);
  line-height: var(--vocs-lineHeight-heading);
}

.root:not(:first-child) {
  padding-top: var(--vocs-space_16);
  margin-top: var(--vocs-space_16);
}

.root:not(:last-child) {
  margin-bottom: var(--vocs-space_16);
}

:global(.vocs-h4)+.root {
  padding-top: var(--vocs-space_0);
}