.root {
  line-height: var(--vocs-lineHeight-list);
}

.ordered {
  list-style: decimal;
  padding-left: var(--vocs-space_20);
  margin-bottom: var(--vocs-space_16);
}

.unordered {
  list-style: disc;
  padding-left: var(--vocs-space_24);
  margin-bottom: var(--vocs-space_16);
}

.ordered .unordered,
.unordered .unordered,
.unordered .ordered,
.ordered .ordered {
  padding-left: var(--vocs-space_16) !important;
  padding-bottom: var(--vocs-space_0);
}

.ordered .ordered {
  list-style: lower-alpha;
}

.ordered .ordered .ordered {
  list-style: lower-roman;
}

.root:global(.contains-task-list) {
  list-style: none;
  padding-left: var(--vocs-space_12);
}
