.root {
  border: 1px solid var(--vocs-color_table-border);
  background-color: var(--vocs-color_table-header-background);
  color: var(--vocs-color_table-header-text);
  font-size: var(--vocs-fontSize_th);
  font-weight: 400;
  padding: var(--vocs-space_8) var(--vocs-space_12);
  text-align: left;
}

.root[align="center"] {
  text-align: center;
}

.root[align="right"] {
  text-align: right;
}