.root {
  border-radius: var(--vocs-borderRadius_4);
  font-size: 14px;
  padding: var(--vocs-space_16) var(--vocs-space_20);
  margin-bottom: var(--vocs-space_16);
}

.note {
  background-color: var(--vocs-color_note-background);
  border: 1px solid var(--vocs-color_note-border);
  color: var(--vocs-color_note-text);
}

.info {
  background-color: var(--vocs-color_info-background);
  border: 1px solid var(--vocs-color_info-border);
  color: var(--vocs-color_info-text);
}

.warning {
  background-color: var(--vocs-color_warning-background);
  border: 1px solid var(--vocs-color_warning-border);
  color: var(--vocs-color_warning-text);
}

.danger {
  background-color: var(--vocs-color_danger-background);
  border: 1px solid var(--vocs-color_danger-border);
  color: var(--vocs-color_danger-text);
}

.tip {
  background-color: var(--vocs-color_tip-background);
  border: 1px solid var(--vocs-color_tip-border);
  color: var(--vocs-color_tip-text);
}

.success {
  background-color: var(--vocs-color_success-background);
  border: 1px solid var(--vocs-color_success-border);
  color: var(--vocs-color_success-text);
}