.root {
  align-items: center;
  background-color: var(--vocs-color_code-block-background);
  border-top-left-radius: var(--vocs-borderRadius_4);
  border-top-right-radius: var(--vocs-borderRadius_4);
  border-bottom: 1px solid var(--vocs-color_border);
  color: var(--vocs-color_text-3);
  display: flex;
  font-size: var(--vocs-fontSize_14);
  font-weight: var(--vocs-fontWeight-medium);
  gap: var(--vocs-space_6);
  padding: var(--vocs-space_8) var(--vocs-space_24);
}

@media screen and (width <= 70ch) {
  .root {
    border-radius: 0;
    margin-left: calc(var(--vocs-space_16) * -1);
    margin-right: calc(var(--vocs-space_16) * -1);
    padding-left: var(--vocs-space_16);
    padding-right: var(--vocs-space_16);
  }
}