.root {
  align-items: center;
  background-color: color-mix(in srgb, var(--vocs-color_background-2) 75%, transparent);
  backdrop-filter: blur(1px);
  border: 1px solid var(--vocs-color_border);
  border-radius: var(--vocs-borderRadius_4);
  color: var(--vocs-color_text-3);
  display: flex;
  justify-content: center;
  position: absolute;
  right: var(--vocs-space_18);
  top: var(--vocs-space_18);
  opacity: 0;
  height: 32px;
  width: 32px;
  transition: background-color 0.15s, opacity 0.15s;
  z-index: 1;
}

.root:hover {
  background-color: var(--vocs-color_background-3);
  transition: background-color 0.05s;
}

.root:focus-visible {
  background-color: var(--vocs-color_background-3);
  opacity: 1;
  transition: background-color 0.05s;
}

.root:hover:active {
  background-color: var(--vocs-color_background-2);
}

:global(.vocs-pre):hover .root {
  opacity: 1;
}