.root {
  background-color: var(--vocs-color_background-dark);
  display: flex;
  flex-direction: column;
  gap: var(--vocs-space_16);
  padding: 0 var(--vocs-sidebar_horizontal-padding);
  width: var(--vocs-sidebar_width);
  height: 100vh;
}

.item {
  color: var(--vocs-color_text-3);
  font-size: var(--vocs-fontSize_14);
  font-weight: var(--vocs-fontWeight-medium);
  line-height: var(--vocs-lineHeight-sidebarItem);
  letter-spacing: 0.25px;
}

.item:hover {
  color: var(--vocs-color_text);
}

.item[data-active="true"] {
  color: var(--vocs-color_text);
}

.items {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--vocs-space_4);
}

.sectionTitle {
  font-size: var(--vocs-fontSize_14);
  font-weight: var(--vocs-fontWeight-semibold);
  letter-spacing: 0.25px;
}

.title {
  align-items: center;
  border-bottom: 1px solid var(--vocs-color_border);
  display: flex;
  height: var(--vocs-topNav_upperHeight);
  font-size: var(--vocs-fontSize_18);
  font-weight: var(--vocs-fontWeight-semibold);
  line-height: var(--vocs-lineHeight-heading);
}