@keyframes expand {
  from {
    left: calc(-1 * var(--vocs-sidebar_width));
  }

  to {
    left: 0;
  }
}

.backdrop {
  background-color: rgba(0 0 0 / 50%);
  position: fixed;
  inset: 0;
  z-index: var(--vocs-z-index_backdrop);
  animation: fade-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.drawer {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: var(--vocs-sidebar_width);
  height: 100vh;
  z-index: var(--vocs-z-index_drawer);
  animation: expand 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media screen and (width <= 1080px) {
  .backdrop {
    display: initial;
  }
  
  .drawer {
    display: initial;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}