@layer vocs.theme, vocs.base, vocs.components, vocs.utilities, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(vocs.theme) prefix(vocs);
@import "tailwindcss/preflight.css" layer(vocs.base);
@import "tailwindcss/utilities.css" layer(vocs.utilities) prefix(vocs);

@source "./";

@layer vocs.theme {
  @theme {
    --color-*: initial;

    /* #region Primitive Colors */

    --color-white: white;
    --color-black: black;
    --color-gray1: oklch(0.162 0 0);
    --color-gray2: oklch(0.195 0 0);
    --color-gray3: oklch(0.223 0 0);
    --color-gray4: oklch(0.25 0 0);
    --color-gray5: oklch(0.3 0 0);
    --color-gray6: oklch(0.35 0 0);
    --color-gray7: oklch(0.459 0 0);
    --color-gray8: oklch(0.549 0 0);
    --color-gray9: oklch(0.649 0 0);
    --color-gray10: oklch(0.72 0 0);
    --color-gray11: oklch(0.863 0 0);
    --color-gray12: oklch(0.933 0 0);
    --color-gray13: oklch(0.973 0 0);
    --color-red: light-dark(oklch(0.7 0.25 23), oklch(0.75 0.23 23));
    --color-blue: light-dark(oklch(0.68 0.25 251.8), oklch(0.8 0.23 251.8));
    --color-green: light-dark(oklch(0.6 0.23 170.7), oklch(0.8 0.195 170.7));
    --color-iris: light-dark(oklch(0.54 0.184 278.3), oklch(0.85 0.35 270.3));
    --color-yellow: light-dark(oklch(0.65 0.2 84.1), oklch(0.95 0.2 84.1));

    /* #endregion */

    /* #region Standard Colors */

    --background-color-primary: light-dark(white, var(--vocs-color-gray3));
    --background-color-secondary: light-dark(var(--vocs-color-gray13), var(--vocs-color-gray4));
    --text-color-primary: light-dark(var(--vocs-color-gray1), var(--vocs-color-gray12));
    --text-color-secondary: light-dark(var(--vocs-color-gray3), var(--vocs-color-gray10));

    /* #endregion */

    /* #region Contextual Colors */

    --color-destructive: var(--vocs-color-red);
    --color-destructive-hover: oklch(from var(--vocs-color-red) calc(l - 0.1) c h);
    --color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 8%);
    --border-color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 16%);

    --color-info: var(--vocs-color-blue);
    --color-info-hover: oklch(from var(--vocs-color-blue) calc(l - 0.1) c h);
    --background-color-info-tint: oklch(from var(--vocs-color-blue) l c h / 8%);
    --border-color-info-tint: oklch(from var(--vocs-color-blue) l c h / 16%);

    --color-note: light-dark(var(--vocs-color-gray8), var(--vocs-color-gray10));
    --color-note-hover: oklch(from var(--vocs-color-gray8) calc(l - 0.1) c h);
    --background-color-note-tint: oklch(from var(--vocs-color-gray10) l c h / 8%);
    --border-color-note-tint: oklch(from var(--vocs-color-gray10) l c h / 16%);

    --color-success: oklch(from var(--vocs-color-green) l c h);
    --color-success-hover: oklch(from var(--vocs-color-green) calc(l - 0.1) c h);
    --background-color-success-tint: oklch(from var(--vocs-color-green) l c h / 8%);
    --border-color-success-tint: oklch(from var(--vocs-color-green) l c h / 16%);

    --color-tip: var(--vocs-color-iris);
    --color-tip-hover: oklch(from var(--vocs-color-iris) calc(l - 0.1) c h);
    --background-color-tip-tint: oklch(from var(--vocs-color-iris) l calc(c + 0.3) h / 4%);
    --border-color-tip-tint: oklch(from var(--vocs-color-iris) l c h / 16%);

    --color-warning: var(--vocs-color-yellow);
    --color-warning-hover: oklch(from var(--vocs-color-yellow) calc(l - 0.1) c h);
    --background-color-warning-tint: oklch(from var(--vocs-color-yellow) l c h / 8%);
    --border-color-warning-tint: oklch(from var(--vocs-color-yellow) l c h / 16%);

    --border-color-primary: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray4));
    --border-color-secondary: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray5));

    /* #endregion */

    /* #region Semantic Colors */

    --background-color-blockquote: var(--vocs-color-background2);
    --background-color-code-block: light-dark(var(--vocs-color-gray13), var(--vocs-color-gray2));
    --background-color-inline-code: light-dark(var(--vocs-color-gray13), var(--vocs-color-gray2));
    --text-color-heading: light-dark(black, white);
    --text-color-link: var(--vocs-color-blue);
    --text-color-link-hover: oklch(from var(--vocs-color-blue) calc(l - 0.1) c h);
    --text-color-quote: light-dark(var(--vocs-color-gray9), var(--vocs-color-gray11));

    /* #endregion */

    /* #region Font size */

    --text-code-block: 0.875rem;
    --text-inline-code: 0.875em;

    /* #endregion */

    /* #region Leading */

    --leading-*: initial;
    --leading-base: 1.5em;
    --leading-code: 1.75em;
    --leading-p: 1.625em;
    --leading-h1: 2.25em;
    --leading-h2: 1.75em;
    --leading-h3: 1.75em;
    --leading-li: 1.5em;

    /* #endregion */

    /* #region Spacing */

    --spacing-content-px: 3rem;
    --spacing-content-py: 2rem;
    --spacing-content: calc(70ch + (var(--vocs-spacing-content-px) * 2));
    --spacing-outline: 280px;
    --spacing-sidebar-px: 1.5rem;
    --spacing-sidebar-py: 0rem;
    --spacing-sidebar: 300px;
    --spacing-topNav-px: var(--vocs-spacing-content-px);
    --spacing-topNav: 60px;

    /* #endregion */

    /* #region Breakpoints */

    --breakpoint-content: 748px;

    /* #endregion */
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-lg)) {
    :root {
      --vocs-spacing-content-px: 1.5rem;
      --vocs-spacing-content-py: 3rem;
      --vocs-spacing-sidebar-px: 1rem;
      --vocs-spacing-sidebar-py: 1rem;
      --spacing-topNav: 48rem;
    }
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-content)) {
    :root {
      --vocs-spacing-content-px: 1rem;
      --vocs-spacing-content-py: 2rem;
    }
  }
}

@layer vocs.base {
  :root {
    @apply vocs:bg-primary vocs:scheme-light-dark vocs:text-primary vocs:tracking-[0.005em];
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer vocs.components {
  /* #region Layout */

  article[data-content][data-vocs] {
    @apply vocs:px-content-px vocs:py-content-py vocs:relative vocs:w-full;

    /* biome-ignore lint/correctness/noUnknownFunction: _ */
    @media (width > theme(--breakpoint-content)) {
      & {
        @apply vocs:mx-auto vocs:max-w-content;
      }
    }

    /* biome-ignore lint/correctness/noUnknownFunction: _ */
    @media (width <= theme(--breakpoint-content)) {
      & {
        @apply vocs:overflow-x-hidden;
      }
    }
  }

  [data-content] {
    @apply vocs:space-y-6;
  }

  /* #endregion */

  /* #region Primitives */

  h1[data-vocs] {
    @apply vocs:text-heading vocs:text-4xl vocs:font-[550] vocs:tracking-tight vocs:leading-h1;
  }

  h2[data-vocs] {
    @apply vocs:text-heading vocs:text-2xl vocs:font-[550] vocs:tracking-tight vocs:leading-h2;
  }

  h3[data-vocs] {
    @apply vocs:text-heading vocs:text-xl vocs:font-[550] vocs:tracking-tight vocs:leading-h3;
  }

  h4[data-vocs] {
    @apply vocs:text-heading vocs:text-lg vocs:font-[550] vocs:tracking-tight;
  }

  h5[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  h6[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  strong[data-vocs] {
    @apply vocs:font-[600];
  }

  p[data-vocs] {
    @apply vocs:leading-p;
  }

  /* #endregion */

  /* #region Content Paragraphs */

  [data-vocs][data-content]
    > :is(p, h1, h2, h3, h4, h5, h6, hgroup, strong, a, blockquote, ol, ul)[data-vocs]
    + :is(p, h1, h2, h3, h4, h5, h6, hgroup, strong, a, blockquote, ol, ul)[data-vocs] {
    @apply vocs:-mt-2!;
  }

  /* #endregion */

  /* #region Main Heading (hgroup/h1) */

  hgroup[data-vocs],
  :not(hgroup) > h1[data-vocs] {
    @apply vocs:border-b vocs:border-primary;
  }

  hgroup[data-vocs] p[data-vocs] {
    @apply vocs:text-secondary vocs:text-lg vocs:font-[450] vocs:mt-1.5 vocs:leading-base;
  }

  hgroup[data-vocs]:not(:last-child),
  :not(hgroup) > h1[data-vocs]:not(:last-child) {
    @apply vocs:pb-7;
    margin-block-end: calc(calc(var(--vocs-spacing) * 8) * calc(1 - var(--tw-space-y-reverse))) !important;
  }

  /* #endregion */

  /* #region Secondary Headings (h2, h3, h4, h5, h6) */

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h2[data-vocs]:not(:only-child) {
    @apply vocs:pt-6 vocs:mt-12!;
  }

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h3[data-vocs]:not(:only-child) {
    @apply vocs:pt-4;
  }

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h4,
  h5,
  h6[data-vocs]:not(:only-child) {
    @apply vocs:pt-3;
  }

  /* #endregion */

  /* #region Anchors */

  a[data-vocs] {
    @apply vocs:text-link vocs:font-[450] vocs:underline vocs:underline-offset-3 vocs:decoration-1 vocs:transition-colors vocs:duration-75;

    &:hover {
      @apply vocs:text-link-hover;
    }

    &[data-external] {
      @apply vocs:whitespace-nowrap;
    }

    &[data-external]::after {
      @apply vocs:content-[''] vocs:inline-block vocs:size-[0.9em] vocs:align-middle vocs:bg-current;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE --%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 7h10v10M7 17L17 7'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
    }
  }

  [data-context="info"] a[data-vocs] {
    @apply vocs:text-info;

    &:hover {
      @apply vocs:text-info-hover;
    }
  }

  [data-context="warning"] a[data-vocs] {
    @apply vocs:text-warning;

    &:hover {
      @apply vocs:text-warning-hover;
    }
  }

  [data-context="danger"] a[data-vocs] {
    @apply vocs:text-destructive;

    &:hover {
      @apply vocs:text-destructive-hover;
    }
  }

  [data-context="tip"] a[data-vocs] {
    @apply vocs:text-tip;

    &:hover {
      @apply vocs:text-tip-hover;
    }
  }

  [data-context="success"] a[data-vocs] {
    @apply vocs:text-success;

    &:hover {
      @apply vocs:text-success-hover;
    }
  }

  /* #endregion */

  /* #region Blockquotes */

  blockquote[data-vocs] {
    @apply vocs:border-l-3 vocs:border-secondary vocs:bg-secondary vocs:px-4 vocs:py-4 vocs:text-quote;
  }

  /* #endregion */

  /* #region Callouts */

  aside[data-callout] {
    @apply vocs:rounded vocs:text-sm vocs:p-3 vocs:relative vocs:border;

    &,
    & [data-content] {
      @apply vocs:space-y-4;
    }

    /* biome-ignore lint/correctness/noUnknownFunction: _ */
    @media (width <= theme(--breakpoint-content)) {
      & {
        @apply vocs:-ml-4 vocs:-mr-4 vocs:rounded-none vocs:border-l-0 vocs:border-r-0;
      }
    }

    & > [data-callout-icon] {
      @apply vocs:h-4 vocs:w-4 vocs:mt-[0.15rem] vocs:absolute;
    }

    &[data-content] > :not(:is([data-callout-icon], .shiki)) {
      @apply vocs:ps-6;
    }

    &[data-context="note"] {
      @apply vocs:bg-note-tint vocs:border-note-tint vocs:text-note;
    }

    &[data-context="info"] {
      @apply vocs:bg-info-tint vocs:border-info-tint vocs:text-info;
    }

    &[data-context="warning"] {
      @apply vocs:bg-warning-tint vocs:border-warning-tint vocs:text-warning;
    }

    &[data-context="danger"] {
      @apply vocs:bg-destructive-tint vocs:border-destructive-tint vocs:text-destructive;
    }

    &[data-context="tip"] {
      @apply vocs:bg-tip-tint vocs:border-tip-tint vocs:text-tip;
    }

    &[data-context="success"] {
      @apply vocs:bg-success-tint vocs:border-success-tint vocs:text-success;
    }
  }

  /* #endregion */

  /* #region Lists */

  ol[data-vocs] {
    @apply vocs:list-decimal vocs:ps-5 vocs:mb-4;

    & & {
      list-style-type: lower-alpha;
    }

    & & & {
      list-style-type: lower-roman;
    }
  }

  li[data-vocs] {
    @apply vocs:leading-li;

    &:not(:last-child) {
      @apply vocs:mb-2;
    }
  }

  ul[data-vocs] {
    @apply vocs:list-disc vocs:ps-6 vocs:mb-4;

    & & {
      list-style-type: circle;
    }

    &.contains-task-list {
      @apply vocs:list-none vocs:ps-1;
    }
  }

  :is(ol, ul)[data-vocs] :is(ol, ul)[data-vocs] {
    @apply vocs:mb-0 vocs:pt-2 vocs:ps-4 vocs:pb-0;
  }

  /* #endregion */

  /* #region Tables */

  table[data-vocs] {
    @apply vocs:border-collapse vocs:overflow-x-auto vocs:mb-6 vocs:w-[calc(100%+calc(var(--vocs-spacing)*6))] vocs:table vocs:-mx-3;
    table-layout: fixed;
  }

  td[data-vocs] {
    @apply vocs:text-sm vocs:py-2;

    &:first-child {
      @apply vocs:font-medium vocs:text-heading;
    }
  }

  :is(th, td)[data-vocs] {
    @apply vocs:px-3;
    min-width: 6rem;
  }

  th[data-vocs] {
    @apply vocs:text-primary/80 vocs:bg-secondary vocs:text-[13px] vocs:font-medium vocs:py-2 vocs:text-left vocs:whitespace-nowrap;

    &[align="center"] {
      @apply vocs:text-center;
    }

    &[align="right"] {
      @apply vocs:text-right;
    }
  }

  tbody[data-vocs] tr[data-vocs] {
    @apply vocs:border-secondary vocs:border-t;
  }

  /* #endregion */

  /* #region Superscript */

  sup[data-vocs] > a[data-vocs] {
    @apply vocs:ms-0.5 vocs:text-primary! vocs:underline-offset-2;
  }

  /* #endregion */

  /* #region Horizontal Rule */

  hr[data-vocs] {
    @apply vocs:border-secondary;
  }

  /* #endregion */

  /* #region Footnote */

  a.data-footnote-backref {
    @apply vocs:text-secondary vocs:text-sm vocs:font-[450] vocs:underline-offset-2;
    font-variant-emoji: text;

    &:hover {
      @apply vocs:text-primary;
    }
  }

  section[data-footnotes] > h2 {
    @apply vocs:pt-0! vocs:pb-4!;
  }

  /* #endregion */

  /* #region Details */

  details[data-vocs] > summary[data-vocs] {
    @apply vocs:cursor-pointer vocs:hover:underline vocs:underline-offset-2 vocs:decoration-1 vocs:leading-base vocs:flex vocs:items-center vocs:font-[500];
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      @apply vocs:content-[''] vocs:inline-block vocs:size-[1em] vocs:mr-[0.25em] vocs:align-middle vocs:bg-current vocs:transition-transform vocs:duration-200;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m9 18l6-6l-6-6'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
    }
  }

  details[data-vocs][open] > summary[data-vocs]::before {
    @apply vocs:rotate-90;
  }

  details[data-vocs] summary {
    @apply vocs:mb-2;
  }

  aside[data-vocs] summary {
    @apply vocs:mb-0;
  }

  /* #endregion */

  /* #region Code blocks */

  pre[data-vocs] {
    @apply vocs:bg-code-block vocs:py-5 vocs:overflow-x-auto vocs:rounded-sm vocs:border vocs:border-secondary;

    & code[data-vocs] {
      @apply vocs:grid vocs:text-code-block;
    }

    & .line {
      @apply vocs:border-l-2 vocs:border-l-transparent vocs:leading-code vocs:px-5.5;
    }

    /* biome-ignore lint/correctness/noUnknownFunction: _ */
    @media (width <= theme(--breakpoint-content)) {
      & {
        @apply vocs:rounded-none vocs:border-l-0 vocs:border-r-0 vocs:-mx-4;
      }
    }
  }

  /* #endregion */

  /* #region Code blocks in Callouts */

  aside[data-vocs] pre[data-vocs] {
    @apply vocs:-mx-3 vocs:border-none vocs:rounded-none vocs:bg-code-block/80;

    & code[data-vocs] {
      @apply vocs:text-[13px];
    }
  }

  /* #endregion */

  /* #region Inline code */

  :not(pre) > code[data-vocs] {
    @apply vocs:bg-primary vocs:font-medium vocs:border vocs:border-secondary vocs:text-inline-code vocs:rounded-sm vocs:px-1.5 vocs:py-0.5;

    & a[data-external] {
      @apply vocs:underline-offset-2;
    }
  }

  [data-context="note"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-note-tint;
  }

  [data-context="info"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-info-tint;
  }

  [data-context="warning"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-warning-tint;
  }

  [data-context="danger"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-destructive-tint;
  }

  [data-context="tip"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-tip-tint;
  }

  [data-context="success"] code[data-vocs] {
    @apply vocs:bg-inline-code/60 vocs:border-success-tint;
  }

  /* #endregion */
}
