@layer vocs.theme, vocs.base, vocs.components, vocs.utilities, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(vocs.theme) prefix(vocs);
@import "tailwindcss/preflight.css" layer(vocs.base);
@import "tailwindcss/utilities.css" layer(vocs.utilities) prefix(vocs);

@source "./";

@layer vocs.theme {
  @theme {
    --color-*: initial;

    --color-white: white;
    --color-black: black;

    --color-gray1: oklch(0.162 0 0);
    --color-gray2: oklch(0.195 0 0);
    --color-gray3: oklch(0.223 0 0);
    --color-gray4: oklch(0.302 0 0);
    --color-gray5: oklch(0.348 0 0);
    --color-gray6: oklch(0.396 0 0);
    --color-gray7: oklch(0.459 0 0);
    --color-gray8: oklch(0.549 0 0);
    --color-gray9: oklch(0.649 0 0);
    --color-gray10: oklch(0.72 0 0);
    --color-gray11: oklch(0.863 0 0);
    --color-gray12: oklch(0.933 0 0);
    --color-gray13: oklch(0.973 0 0);

    --color-red: light-dark(oklch(0.7 0.25 23), oklch(0.75 0.23 23));
    --color-blue: light-dark(oklch(0.68 0.25 251.8), oklch(0.8 0.23 251.8));
    --color-green: light-dark(oklch(0.6 0.23 170.7), oklch(0.8 0.195 170.7));
    --color-yellow: light-dark(oklch(0.65 0.2 84.1), oklch(0.95 0.2 84.1));

    --color-background: light-dark(white, var(--vocs-color-gray3));
    --color-background2: light-dark(var(--vocs-color-gray13), var(--vocs-color-gray2));

    --color-destructive: var(--vocs-color-red);
    --color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 8%);
    --color-info: var(--vocs-color-blue);
    --color-info-tint: oklch(from var(--vocs-color-blue) l c h / 8%);
    --color-success: oklch(from var(--vocs-color-green) l c h);
    --color-success-tint: oklch(from var(--vocs-color-green) l c h / 8%);
    --color-warning: var(--vocs-color-yellow);
    --color-warning-tint: oklch(from var(--vocs-color-yellow) l c h / 8%);

    --color-border: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray4));

    --color-heading: light-dark(black, white);

    --color-text: light-dark(var(--vocs-color-gray1), var(--vocs-color-gray12));
    --color-text2: light-dark(var(--vocs-color-gray3), var(--vocs-color-gray10));

    --spacing-content-px: 3rem;
    --spacing-content-py: 2rem;
    --spacing-content: calc(65ch + (var(--vocs-spacing-content-px) * 2));
    --spacing-outline: 280px;
    --spacing-sidebar-px: 1.5rem;
    --spacing-sidebar-py: 0rem;
    --spacing-sidebar: 300px;
    --spacing-topNav-px: var(--vocs-spacing-content-px);
    --spacing-topNav: 60px;
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-lg)) {
    :root {
      --vocs-spacing-content-px: 1.5rem;
      --vocs-spacing-content-py: 3rem;
      --vocs-spacing-sidebar-px: 1rem;
      --vocs-spacing-sidebar-py: 1rem;
      --spacing-topNav: 48rem;
    }
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-md)) {
    :root {
      --vocs-spacing-content-px: 1rem;
      --vocs-spacing-content-py: 2rem;
    }
  }
}

@layer vocs.base {
  :root {
    background-color: var(--vocs-color-background);
    color-scheme: light dark;
    color: var(--vocs-color-text);
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer vocs.components {
  /** Primitives */

  h1[data-vocs] {
    @apply vocs:text-heading vocs:text-4xl vocs:font-[550] vocs:tracking-tight vocs:leading-9;
  }

  h2[data-vocs] {
    @apply vocs:text-heading vocs:text-2xl vocs:font-[550] vocs:tracking-tight vocs:leading-7;
  }

  h3[data-vocs] {
    @apply vocs:text-heading vocs:text-xl vocs:font-[550] vocs:tracking-tight vocs:leading-7;
  }

  h4[data-vocs] {
    @apply vocs:text-heading vocs:text-lg vocs:font-[550] vocs:tracking-tight;
  }

  h5[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  h6[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  strong[data-vocs] {
    @apply vocs:font-[550];
  }

  p[data-vocs] {
    @apply vocs:tracking-[0.005em] vocs:leading-relaxed;
  }

  /** Content Paragraphs */

  /* TODO: [`${Blockquote}>&`]: {
    color: semanticColorVars.blockquoteText,
    marginBottom: spaceVars['8'],
  }, */
  /* Reduce spacing between paragraphs and their preceding elements (headings, lists, other paragraphs) */
  [data-vocs][data-content] > :is(h1, h2, h3, h4, h5, h6, ul, ol, p)[data-vocs] + p[data-vocs] {
    @apply vocs:-mt-2!;
  }

  /** Heading Groups */

  hgroup[data-vocs] {
    @apply vocs:border-b vocs:border-border;
  }

  hgroup[data-vocs] p[data-vocs] {
    @apply vocs:text-text2 vocs:text-lg vocs:font-[450] vocs:mt-1.5 vocs:leading-6;
  }

  hgroup[data-vocs]:not(:last-child) {
    @apply vocs:mb-6 vocs:pb-6;
  }

  [data-layout="landing"] hgroup[data-vocs] {
    @apply vocs:pb-4;
  }

  [data-layout="landing"] hgroup[data-vocs]:not(:first-child) {
    @apply vocs:pt-9;
  }
}
