@layer vocs.theme, vocs.base, vocs.components, vocs.utilities, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(vocs.theme) prefix(vocs);
@import "tailwindcss/preflight.css" layer(vocs.base);
@import "tailwindcss/utilities.css" layer(vocs.utilities) prefix(vocs);

@source "./";

@layer vocs.theme {
  @theme {
    --color-*: initial;

    --color-white: white;
    --color-black: black;

    --color-gray1: oklch(0.162 0 0);
    --color-gray2: oklch(0.195 0 0);
    --color-gray3: oklch(0.223 0 0);
    --color-gray4: oklch(0.25 0 0);
    --color-gray5: oklch(0.3 0 0);
    --color-gray6: oklch(0.35 0 0);
    --color-gray7: oklch(0.459 0 0);
    --color-gray8: oklch(0.549 0 0);
    --color-gray9: oklch(0.649 0 0);
    --color-gray10: oklch(0.72 0 0);
    --color-gray11: oklch(0.863 0 0);
    --color-gray12: oklch(0.933 0 0);
    --color-gray13: oklch(0.973 0 0);

    --color-red: light-dark(oklch(0.7 0.25 23), oklch(0.75 0.23 23));
    --color-blue: light-dark(oklch(0.68 0.25 251.8), oklch(0.8 0.23 251.8));
    --color-green: light-dark(oklch(0.6 0.23 170.7), oklch(0.8 0.195 170.7));
    --color-iris: light-dark(oklch(0.54 0.184 278.3), oklch(0.85 0.35 278.3));
    --color-yellow: light-dark(oklch(0.65 0.2 84.1), oklch(0.95 0.2 84.1));

    --color-background: light-dark(white, var(--vocs-color-gray3));
    --color-background2: light-dark(var(--vocs-color-gray13), var(--vocs-color-gray4));

    --color-destructive: var(--vocs-color-red);
    --color-destructive-hover: oklch(from var(--vocs-color-red) calc(l - 0.1) c h);
    --color-destructive-tint: oklch(from var(--vocs-color-red) l c h / 8%);
    --color-destructive-tint-border: oklch(from var(--vocs-color-red) l c h / 16%);
    --color-info: var(--vocs-color-blue);
    --color-info-hover: oklch(from var(--vocs-color-blue) calc(l - 0.1) c h);
    --color-info-tint: oklch(from var(--vocs-color-blue) l c h / 8%);
    --color-info-tint-border: oklch(from var(--vocs-color-blue) l c h / 16%);
    --color-note: light-dark(var(--vocs-color-gray8), var(--vocs-color-gray10));
    --color-note-hover: oklch(from var(--vocs-color-gray8) calc(l - 0.1) c h);
    --color-note-tint: oklch(from var(--vocs-color-gray10) l c h / 8%);
    --color-note-tint-border: oklch(from var(--vocs-color-gray10) l c h / 16%);
    --color-success: oklch(from var(--vocs-color-green) l c h);
    --color-success-hover: oklch(from var(--vocs-color-green) calc(l - 0.1) c h);
    --color-success-tint: oklch(from var(--vocs-color-green) l c h / 8%);
    --color-success-tint-border: oklch(from var(--vocs-color-green) l c h / 16%);
    --color-tip: var(--vocs-color-iris);
    --color-tip-hover: oklch(from var(--vocs-color-iris) calc(l - 0.1) c h);
    --color-tip-tint: oklch(from var(--vocs-color-iris) l c h / 8%);
    --color-tip-tint-border: oklch(from var(--vocs-color-iris) l c h / 16%);
    --color-warning: var(--vocs-color-yellow);
    --color-warning-hover: oklch(from var(--vocs-color-yellow) calc(l - 0.1) c h);
    --color-warning-tint: oklch(from var(--vocs-color-yellow) l c h / 8%);
    --color-warning-tint-border: oklch(from var(--vocs-color-yellow) l c h / 16%);

    --color-border: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray4));
    --color-border2: light-dark(var(--vocs-color-gray12), var(--vocs-color-gray5));

    --color-heading: light-dark(black, white);

    --color-link: var(--vocs-color-blue);
    --color-link-hover: oklch(from var(--vocs-color-blue) calc(l - 0.1) c h);

    --color-quote: light-dark(var(--vocs-color-gray9), var(--vocs-color-gray11));

    --color-text: light-dark(var(--vocs-color-gray1), var(--vocs-color-gray12));
    --color-text2: light-dark(var(--vocs-color-gray3), var(--vocs-color-gray10));

    --leading-*: initial;
    --leading-base: 1.5rem;
    --leading-p: 1.625rem;
    --leading-h1: 2.25rem;
    --leading-h2: 1.75rem;
    --leading-h3: 1.75rem;
    --leading-li: 1.5rem;

    --spacing-content-px: 3rem;
    --spacing-content-py: 2rem;
    --spacing-content: calc(65ch + (var(--vocs-spacing-content-px) * 2));
    --spacing-outline: 280px;
    --spacing-sidebar-px: 1.5rem;
    --spacing-sidebar-py: 0rem;
    --spacing-sidebar: 300px;
    --spacing-topNav-px: var(--vocs-spacing-content-px);
    --spacing-topNav: 60px;
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-lg)) {
    :root {
      --vocs-spacing-content-px: 1.5rem;
      --vocs-spacing-content-py: 3rem;
      --vocs-spacing-sidebar-px: 1rem;
      --vocs-spacing-sidebar-py: 1rem;
      --spacing-topNav: 48rem;
    }
  }

  /* biome-ignore lint/correctness/noUnknownFunction: _ */
  @media (width <= theme(--breakpoint-md)) {
    :root {
      --vocs-spacing-content-px: 1rem;
      --vocs-spacing-content-py: 2rem;
    }
  }
}

@layer vocs.base {
  :root {
    @apply vocs:bg-background vocs:scheme-light-dark vocs:text-text vocs:tracking-[0.005em];
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer vocs.components {
  /** Primitives */
  h1[data-vocs] {
    @apply vocs:text-heading vocs:text-4xl vocs:font-[550] vocs:tracking-tight vocs:leading-h1;
  }

  h2[data-vocs] {
    @apply vocs:text-heading vocs:text-2xl vocs:font-[550] vocs:tracking-tight vocs:leading-h2;
  }

  h3[data-vocs] {
    @apply vocs:text-heading vocs:text-xl vocs:font-[550] vocs:tracking-tight vocs:leading-h3;
  }

  h4[data-vocs] {
    @apply vocs:text-heading vocs:text-lg vocs:font-[550] vocs:tracking-tight;
  }

  h5[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  h6[data-vocs] {
    @apply vocs:text-heading vocs:text-base vocs:font-[550] vocs:tracking-tight;
  }

  strong[data-vocs] {
    @apply vocs:font-[600];
  }

  p[data-vocs] {
    @apply vocs:leading-p;
  }

  /** Content Paragraphs */

  /* Reduce spacing between elements (headings, lists, other paragraphs) */
  [data-vocs][data-content]
    > :is(p, h1, h2, h3, h4, h5, h6, hgroup, strong, a, blockquote, ol, ul)[data-vocs]
    + :is(p, h1, h2, h3, h4, h5, h6, hgroup, strong, a, blockquote, ol, ul)[data-vocs] {
    @apply vocs:-mt-2!;
  }

  /** Main Heading (hgroup/h1) */

  hgroup[data-vocs],
  :not(hgroup) > h1[data-vocs] {
    @apply vocs:border-b vocs:border-border;
  }

  hgroup[data-vocs] p[data-vocs] {
    @apply vocs:text-text2 vocs:text-lg vocs:font-[450] vocs:mt-1.5 vocs:leading-base;
  }

  hgroup[data-vocs]:not(:last-child),
  :not(hgroup) > h1[data-vocs]:not(:last-child) {
    @apply vocs:pb-7;
    margin-block-end: calc(calc(var(--vocs-spacing) * 8) * calc(1 - var(--tw-space-y-reverse))) !important;
  }

  [data-layout="landing"] hgroup[data-vocs],
  [data-layout="landing"] :not(hgroup) > h1[data-vocs] {
    @apply vocs:pb-4;
  }

  [data-layout="landing"] hgroup[data-vocs]:not(:first-child),
  [data-layout="landing"] :not(hgroup) > h1[data-vocs]:not(:first-child) {
    @apply vocs:pt-9;
  }

  /** h2 */

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h2[data-vocs]:not(:only-child) {
    @apply vocs:pt-6 vocs:mt-12!;
  }

  /** h3 */

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h3[data-vocs]:not(:only-child) {
    @apply vocs:pt-4;
  }

  /** h4,h5,h6 */

  :not(:is(hgroup[data-vocs], h1[data-vocs])) > h4,
  h5,
  h6[data-vocs]:not(:only-child) {
    @apply vocs:pt-3;
  }

  /** Anchors */

  a[data-vocs] {
    @apply vocs:text-link vocs:font-[450] vocs:underline vocs:underline-offset-3 vocs:decoration-1 vocs:transition-colors vocs:duration-75;
  }

  a[data-vocs]:hover {
    @apply vocs:text-link-hover;
  }

  a[data-vocs][data-external]::after {
    @apply vocs:content-[''] vocs:inline-block vocs:size-[0.9em] vocs:align-middle vocs:bg-current;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE --%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 7h10v10M7 17L17 7'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  [data-context="info"] a[data-vocs] {
    @apply vocs:text-info;
  }

  [data-context="info"] a[data-vocs]:hover {
    @apply vocs:text-info-hover;
  }

  [data-context="warning"] a[data-vocs] {
    @apply vocs:text-warning;
  }

  [data-context="warning"] a[data-vocs]:hover {
    @apply vocs:text-warning-hover;
  }

  [data-context="danger"] a[data-vocs] {
    @apply vocs:text-destructive;
  }

  [data-context="danger"] a[data-vocs]:hover {
    @apply vocs:text-destructive-hover;
  }

  [data-context="tip"] a[data-vocs] {
    @apply vocs:text-tip;
  }

  [data-context="tip"] a[data-vocs]:hover {
    @apply vocs:text-tip-hover;
  }

  [data-context="success"] a[data-vocs] {
    @apply vocs:text-success;
  }

  [data-context="success"] a[data-vocs]:hover {
    @apply vocs:text-success-hover;
  }

  /** Blockquotes */

  blockquote[data-vocs] {
    @apply vocs:border-l-3 vocs:border-border2 vocs:bg-background2 vocs:ps-4 vocs:py-4 vocs:text-quote;
  }

  /** Callouts */

  aside[data-callout] {
    @apply vocs:rounded vocs:flex vocs:gap-2 vocs:text-sm vocs:p-3;
  }

  /* aside[data-callout] > [data-callout-content] {
    @apply vocs:w-full;
  } */

  /* aside[data-callout] > [data-callout-icon] {
    @apply vocs:size-4 vocs:mt-[0.4em];
  } */

  aside[data-context="note"] {
    @apply vocs:bg-note-tint vocs:border vocs:border-note-tint-border vocs:text-note;
  }

  aside[data-context="info"] {
    @apply vocs:bg-info-tint vocs:border vocs:border-info-tint-border vocs:text-info;
  }

  aside[data-context="warning"] {
    @apply vocs:bg-warning-tint vocs:border vocs:border-warning-tint-border vocs:text-warning;
  }

  aside[data-context="danger"] {
    @apply vocs:bg-destructive-tint vocs:border vocs:border-destructive-tint-border vocs:text-destructive;
  }

  aside[data-context="tip"] {
    @apply vocs:bg-tip-tint vocs:border vocs:border-tip-tint-border vocs:text-tip;
  }

  aside[data-context="success"] {
    @apply vocs:bg-success-tint vocs:border vocs:border-success-tint-border vocs:text-success;
  }

  /** Lists */

  ol[data-vocs] {
    @apply vocs:list-decimal vocs:ps-5 vocs:mb-4;
  }

  li[data-vocs] {
    @apply vocs:leading-li;
  }

  ol[data-vocs] ol[data-vocs] {
    list-style-type: lower-alpha;
  }

  ol[data-vocs] ol[data-vocs] ol[data-vocs] {
    list-style-type: lower-roman;
  }

  ul[data-vocs] {
    @apply vocs:list-disc vocs:ps-6 vocs:mb-4;
  }

  ul[data-vocs] ul[data-vocs] {
    list-style-type: circle;
  }

  :is(ol, ul)[data-vocs] :is(ol, ul)[data-vocs] {
    @apply vocs:mb-0 vocs:pt-2 vocs:ps-4 vocs:pb-0;
  }

  ul[data-vocs].contains-task-list {
    @apply vocs:list-none vocs:ps-1;
  }

  li[data-vocs]:not(:last-child) {
    @apply vocs:mb-2;
  }

  /** Tables */

  table[data-vocs] {
    @apply vocs:border-collapse vocs:overflow-x-auto vocs:mb-6 vocs:w-full vocs:table;
    table-layout: fixed;
  }

  td[data-vocs] {
    @apply vocs:text-sm vocs:py-2;
  }

  td[data-vocs]:first-child {
    @apply vocs:font-medium vocs:text-heading;
  }

  :is(th, td)[data-vocs] {
    min-width: 6rem;
  }

  :is(th, td)[data-vocs]:not(:first-child) {
    @apply vocs:ps-1.5;
  }

  :is(th, td)[data-vocs]:not(:last-child) {
    @apply vocs:pe-1.5;
  }

  th[data-vocs] {
    @apply vocs:text-heading vocs:text-sm vocs:font-medium vocs:py-2 vocs:text-left vocs:whitespace-nowrap;
  }

  th[data-vocs][align="center"] {
    @apply vocs:text-center;
  }

  th[data-vocs][align="right"] {
    @apply vocs:text-right;
  }

  tbody[data-vocs] tr[data-vocs] {
    @apply vocs:border-border2 vocs:border-t;
  }

  /** superscript */

  sup[data-vocs] > a[data-vocs] {
    @apply vocs:ms-0.5 vocs:text-text! vocs:underline-offset-2;
  }

  /** hr */

  hr[data-vocs] {
    @apply vocs:border-border2;
  }

  /** footnote */

  a.data-footnote-backref {
    @apply vocs:text-text2 vocs:text-sm vocs:font-[450] vocs:underline-offset-2;
    font-variant-emoji: text;
  }

  a.data-footnote-backref:hover {
    @apply vocs:text-text;
  }

  section[data-footnotes] > h2 {
    @apply vocs:pt-0! vocs:pb-4!;
  }

  /** details */

  details[data-vocs] > summary[data-vocs] {
    @apply vocs:cursor-pointer vocs:hover:underline vocs:underline-offset-2 vocs:decoration-1 vocs:leading-base vocs:flex vocs:items-center vocs:font-[500];
    list-style: none;
  }

  details[data-vocs] > summary[data-vocs]::-webkit-details-marker {
    display: none;
  }

  details[data-vocs] > summary[data-vocs]::before {
    @apply vocs:content-[''] vocs:inline-block vocs:size-[1em] vocs:mr-[0.25em] vocs:align-middle vocs:bg-current vocs:transition-transform vocs:duration-200;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m9 18l6-6l-6-6'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  details[data-vocs][open] > summary[data-vocs]::before {
    @apply vocs:rotate-90;
  }

  details[data-vocs] summary {
    @apply vocs:mb-2;
  }

  aside[data-vocs] summary {
    @apply vocs:mb-0;
  }
}
